<nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzHideOnSinglePage]="true" [nzData]="listOfAllData"
  [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
  (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)"
  (nzCurrentPageDataChange)="currentPageDataChange($event)">
  <thead>
    <tr>
      <th nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate"
        (nzCheckedChange)="checkAll($event)"></th>
      <th>标题</th>
      <th>用户名</th>
      <th>分类id</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" [nzDisabled]="data.disabled"
        (nzCheckedChange)="refreshStatus()"></td>
      <td>{{ data.title }}</td>
      <td>{{ data.username }}</td>
      <td>{{ data.catid }}</td>
      <td>
        <a [routerLink]="[ '/user/edit' ]">
          <button nz-button nzType="primary">
            编辑
          </button>
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
