<!-- <app-header></app-header> -->
<!-- <app-news></app-news> -->
<!-- <app-home></app-home> -->
<!-- <app-form></app-form> -->
<!-- <app-search></app-search> -->
<!-- <app-todo-list></app-todo-list> -->
<!-- <app-view-child></app-view-child> -->
<!-- <app-transition></app-transition> -->
<!-- <app-home1></app-home1> -->
<!-- <app-news1></app-news1> -->
<!-- <app-lifecycle [title]='title' *ngIf="flag"></app-lifecycle>
<button (click)="changeTitle()">改变title</button>
<button (click)="changeFlag()">挂载销毁组件</button> -->
<!-- <app-rx-js></app-rx-js> -->
<app-httpsdemo></app-httpsdemo>

<router-outlet></router-outlet>
