<nz-layout>
  <!-- 侧边栏 -->
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="logo">
      <a [routerLink]="[ '/home' ]">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="">
        <span>后台管理系统</span>
      </a>
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu>
        <span title><i nz-icon type="user"></i><span class="nav-text">用户管理</span></span>
        <ul>
          <li nz-menu-item>
            <a [routerLink]="[ '/user/list' ]" routerLinkActive="active">用户列表</a>
          </li>
          <li nz-menu-item>
              <a [routerLink]="[ '/user/ajaxlist' ]" routerLinkActive="active">ajax请求分页</a>
            </li>
          <li nz-menu-item>
              <a [routerLink]="[ '/user/vip' ]" routerLinkActive="active">Vip用户</a>            
            </li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i nz-icon type="team"></i><span class="nav-text">Item</span></span>
        <ul>
          <li nz-menu-item>
            <a [routerLink]="[ '/item/cropper' ]" routerLinkActive="active">裁剪图片</a>
          </li>
          <li nz-menu-item>
              <a [routerLink]="[ '/item/form' ]" routerLinkActive="active">form表单</a>            
          </li>
        </ul>
      </li>
      <li nz-menu-item>
        <span><i nz-icon type="file"></i><span class="nav-text">File</span></span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <!-- 头部区域 -->
    <nz-header style="background: #fff; padding:0;">
      <i class="trigger" nz-icon [type]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></i>
        <nz-dropdown class="header_menu">
            <a nz-dropdown>管理员<i nz-icon type="down"></i> </a>
            <ul nz-menu nzSelectable>
              <li nz-menu-item>
                <a>退出</a>
              </li>
              <li nz-menu-item>
                <a>Github</a>
              </li>
            </ul>
          </nz-dropdown>
    </nz-header>
    <!-- 内容区域 -->
    <nz-content style="margin:0 16px;">
      <nz-breadcrumb style="margin:16px 0;">
        <!-- 历史导航 -->
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <!-- 右侧内容区域 -->
      <div style="padding:24px; background: #fff; min-height: 360px;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2019 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template>
