<!-- <app-main></app-main> -->
<!-- <app-header></app-header> -->
<!-- <app-news></app-news> -->
<!-- <app-home></app-home> -->
<!-- <app-form></app-form> -->
<!-- <app-search></app-search> -->
<!-- <app-todo-list></app-todo-list> -->
<!-- <app-view-child></app-view-child> -->
<!-- <app-transition></app-transition> -->
<!-- <app-home1></app-home1> -->
<!-- <app-news1></app-news1> -->
<!-- <app-lifecycle [title]='title' *ngIf="flag"></app-lifecycle>
<button (click)="changeTitle()">改变title</button>
<button (click)="changeFlag()">挂载销毁组件</button> -->
<!-- <app-rx-js></app-rx-js> -->
<!-- <app-httpsdemo></app-httpsdemo> -->
<h2>嵌套路由</h2>
<header>
  <div class="link">
    <a [routerLink]="[ '/nestehome' ]" routerLinkActive="active">首页</a>
    <a routerLink="/nesteproduct" routerLinkActive="active">商品</a>
  </div>
</header>
<router-outlet></router-outlet>
